@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300; 
        src: url('/fonts/Gilroy-Light.woff2') format('woff2');
    } 

    @font-face {
        font-family: 'Gilroy';
        font-style: bold;
        font-weight: 700; 
        src: url('/fonts/Gilroy-Bold.woff2') format('woff2');
    } 
}